/.HA_VERSION
/.cloud
/.ha_run.lock
/.storage
/automations.yaml
/blueprints
/custom_components
/deps
/home-assistant.log.fault
/home-assistant_v2.db
/html5_push_registrations.conf
/image
/scenes.yaml
/secrets.yaml
/themes
/tts
/www
/zigbee2mqtt